<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/shop.css" />
  </head>
  <body>
    <%- include('./layout/header') %>
    <main>
      <h1>All products</h1>

      <% if (hasProducts) { %>

      <div class="box_products">
        <% prods.forEach(prod => { %>

        <div class="box_product">
          <div class="box_img">
            <img src="/img/main.jpg" alt="" />
          </div>
          <h3 class="titel"><%= prod.titel%></h3>
          <p class="description"><%= prod.description %></p>
          </p>
          <div class="box_btn">
            <a href="/product/<%= prod.id %>" class="btn">Details</a>
            <form action="" method="post">
              <button class="btn" type="submit" value="<%= prod.id %>">Add to Cart</button>
            </form>
          </div>
        </div>

        <% }) %>
      </div>
      <% } %>
    </main>
  </body>
</html>
